<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>FPL Player Checker</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'transferchecker/css/bootstrap.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'transferchecker/css/bootstrap-social.css' %}" />   
        <link rel="stylesheet" type="text/css" href="{% static 'transferchecker/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'transferchecker/css/added-styles.css' %}" />

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1 class="text-center">Fantasy Premier League Player Checker</h1><br>
                <p>
                    Use this tool to see what players are available for picking up on your team. Begin typing a player's name
                    into the text box and select the correct suggestion to see their availability.
                </p>
                <p class="text-center">
                    <span class="glyphicon glyphicon-ok green" aria-hidden="true"></span> = you're good to go
                </p>
                <p class="text-center">
                    <span class="glyphicon glyphicon-remove red" aria-hidden="true"></span> = they're already taken
                </p>
            </div>
        </div>

        <div class="container">
            <div class="input-group">
                <input class="typeahead form-control" type="text" autocomplete="off" placeholder="Player Name">
                <span class="input-group-addon"><span class="glyphicon glyphicon-minus invis" id="result" aria-hidden="true"></span></span>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- Handlebars -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
        <!-- Autocomplete box -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.1.1/bloodhound.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
        <script src="{% static 'transferchecker/js/searchbar.js' %}"></script>
    </body>
</html>